Source: device-beaglexm
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4

Package: device-beaglexm
Architecture: all
Description: Root package for the Beagleboard XM device
 This is the root package for the Beagleboard XM device.  It defines
 the most generic, plain-vanilla functional configuration.
Depends:
 board-beaglexm,
 dtb-beaglexm,
 bootscr-omap3,
 mount-mmcblk0p1-as-boot,
 ptux-essential,
 baseconfig-ptux,
 systemd-sysv,
 dpkg-autoconfigure-at-boot,
 vim-tiny,
 procps,
 wget,
 module-init-tools,
 accounts-root-password,
 connman-run,
 openssh-client,
 openssh-server,
 iproute,
 iputils-ping,
 apt-transport-https,
 apt-source-ptux-device,
 ${misc:Depends}
